@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <p>VKApp - просмотр топа груп среди друзей</p>

        @using (Html.BeginForm("RedirectToAuth", "Home"))
        {
            <input type="submit" value="Зарегистрироваться" /> 
        }

        @using (Html.BeginForm("RedirectToUserData", "Home"))
        {
            <input type="submit" value="Посмотреть топ" /> 
        }

        
</body>
</html>