<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net45" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.1" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net45" />
  <package id="XStream" version="1.0.44.2" targetFramework="net45" />
</packages>